@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100% !important;
    height: auto;
}

input,
textarea {
    outline: none;
    max-width: 100%;
}

button {
    background: none;
    outline: 0 none;
    border: none;
}

ul {
    list-style: none;
}

.rm-bg {
    background: none !important;
}

.logo-img {
    width: 130px;
    background: none;
}

.flex {
    display: flex;
    align-items: center;
}

button .btn {
    min-width: 200px;
    max-width: 200px;
    font-family: "Poppins", sans-serif;
}

button .btn.action-btn {
    padding: 1rem 1.2rem;
    border-radius: 100px;
    background: #5357c4;
    color: #f5f5f5;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button .btn.action-btn:hover {
    letter-spacing: 0.15rem;
}

.nav {
    padding: 0.5rem 0;
    font-family: "Poppins", sans-serif;
    color: #1b1b1b;
}

.nav .nav-list {
    color: #1b1b1b;
}

.nav .nav-list .list {
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.nav .nav-list .list.active {
    color: #5357c4;
    position: relative;
}

.nav .nav-list .list.active:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #5357c4;
}

.footer.divider {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .footer.divider :where(.line,.arrow-icon) {
    margin:0 5px;
} */

.footer.divider .line{
    width: 100%;
    height: 3px;
    background-color: #fff;
}